<div class="section section-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <img src="images/logo.svg" alt="VitalSign" class="logo">
        <h1>{% t home.title %}</h1>
        <h3>{% t home.sub-title %}</h3>
        <!-- <a href="https://forms.gle/oRaKxDtknvmxRZyX9" target="_blank" class="a-button">
          <button type="button" name="button" class="btn btn-primary">{% t global.register %}</button>
        </a> -->
        <a href="https://www.loom.com/share/f0db2d87cc814635b98bf574e0226856" target="_blank" class="a-button">
          <button type="button" name="button" class="btn btn-secondary"><i class="fa fa-play-circle"></i>&nbsp;&nbsp;{% t global.demo-video %}</button>
        </a>
        <img src="images/banner.png" class="img-fluid" alt="VitalSign Screenshot">
      </div>
    </div>
  </div>
</div>