<div class="section section-contactus">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h2>{% t contact-us.title %}</h2>
        <p>{% t contact-us.sub-title %}</p>
        <img src="https://qr-official.line.me/sid/M/627givhl.png" alt="line-qr" class="img-fluid" width="240">
        <br/>
        <a href="https://lin.ee/51jVhWv" target="_blank">
          <button type="button" name="button" class="btn btn-primary">
            <i class="fa fa-commenting"></i>&nbsp;&nbsp;{% t global.contact-line %}
          </button>
        </a>
      </div>
    </div>
  </div>
</div>