<div class="section section-contactus">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h2>{% t contact-us.title %}</h2>
        <p>{% t contact-us.sub-title %}</p>
        <img src="images/line-qr.jpg" alt="line-qr" class="img-fluid" width="240">
        <br/>
        <a href="https://line.me/ti/g2/WN83nuBeuWhkSlknRzlC2A?utm_source=invitation&utm_medium=link_copy&utm_campaign=default" target="_blank">
          <button type="button" name="button" class="btn btn-primary">
            <i class="fa fa-commenting"></i>&nbsp;&nbsp;{% t global.contact-line %}
          </button>
        </a>
      </div>
    </div>
  </div>
</div>