<meta property="fb:app_id"             content="" />
<meta property="og:url"                content="https://vitalsignapp.com/"/>
<meta property="og:type"               content=""/>
<meta property="og:title"              content="ระบบส่งผลการตรวจร่างกายเบื้องต้นด้วยตนเอง"/>
<meta property="og:description"        content="เพื่อให้คนไข้ที่อยู่ในโรงพยาบาลสามารถส่งผลตรวจสุขภาพได้ด้วยตนเอง ลดความเสี่ยงในการแพร่เชื้อโควิด-19 สู่หมอและพยาบาล"/>
<meta property="og:image"              content="https://vitalsignapp.com/images/facebook-og.png"/>