<div class="section section-how">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2>{% t how-it-work.title %}</h2>
        <p>{% t how-it-work.sub-title %}</p>
      </div>

      <div class="how-to-step step-1 col-lg-4 offset-lg-2 col-md-5 offset-md-1 col-xs-10 offset-xs-1">
        <div class="step-image">
          <img src="images/how-to-1.svg" class="img-fluid" alt="step-1">
        </div>
        <div class="number">
          1
        </div>
        <div class="content">
          {% t how-it-work.step-1 %}
        </div>
        <div class="clear">
        </div>
      </div>

      <div class="how-to-step step-2 col-lg-4 col-md-5 col-xs-10 offset-xs-1">
        <div class="step-image">
          <img src="images/how-to-2.svg" class="img-fluid" alt="step-2">
        </div>
        <div class="number">
          2
        </div>
        <div class="content">
          {% t how-it-work.step-2 %}
        </div>
        <div class="clear">
        </div>
      </div>

      <div class="how-to-step step-3 col-lg-4 offset-lg-2 col-md-5 offset-md-1 col-xs-10 offset-xs-1">
        <div class="step-image">
          <img src="images/how-to-3.svg" class="img-fluid" alt="step-3">
        </div>
        <div class="number">
          3
        </div>
        <div class="content">
          {% t how-it-work.step-3 %}
        </div>
        <div class="clear">
        </div>
      </div>

      <div class="how-to-step step-4 col-lg-4 col-md-5 col-xs-10 offset-xs-1">
        <div class="step-image">
          <img src="images/how-to-4.svg" class="img-fluid" alt="step-4">
        </div>
        <div class="number">
          4
        </div>
        <div class="content">
          {% t how-it-work.step-4 %}
        </div>
        <div class="clear">
        </div>
      </div>

      <!-- <div class="col-lg-10 offset-lg-1">
        <a href="content/VitalSignSummary.pdf">
          <button type="button" name="button" class="btn btn-secondary">
            <i class="fa fa-download"></i>&nbsp;&nbsp;ดาวน์โหลดรายละเอียด
          </button>
        </a>
      </div> -->

    </div>
  </div>
</div>