<div class="language-switch">
  {% capture link_en %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
  {% capture link_th %}{{ site.baseurl_root }}/th{{ page.url  }}{% endcapture %}
  
  {% if site.lang == "en" %}  
    {% assign action_en = "active" %}
    {% assign action_th = "not-active" %}
  {% else %}
    {% assign action_en = "not-active" %}
    {% assign action_th = "active" %}
  {% endif %}

  <a href="{{ link_th }}" class="{{ action_th }}">{% t global.thai %}</a>
  &nbsp;&nbsp;|&nbsp;
  <a href="{{ link_en }}" class="{{ action_en }}">{% t global.english %}</a>
</div>

