<div class="section section-opensource">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h2>{% t opensource.title %}</h2>
        <p>{% t opensource.sub-title %}</p>

        <div class="contributors">
          <img class="img-fluid" src="images/contributors.jpg" alt="contributors">
          <h3>{% t opensource.contributors %}</h3>
          <span class="name">@art</span>
          <span class="name">@tanin</span>
          <span class="name">@arm</span>
          <span class="company">from Awesome Dev Team</span>
          <br>
          <span class="name">@apirak</span>
          <span class="company">
            <a class="nowrap" href="https://uxacademy.in.th/" target="_blank">from  UX Academy <i class="fa fa-external-link"></i></a>
          </span>
          <br>
          <span class="name">@natt</span>
          <span class="name">@noon</span>
          <span class="name">@nuch</span>
          <span class="name">@m</span>
          <span class="name">@jay</span>
          <span class="company">
            <a class="nowrap" href="https://www.ahancer.com" target="_blank">from Ahancer <i class="fa fa-external-link"></i></a>
          </span>
          <br>
          <span class="name">@maikana</span>
          <span class="company">
            <a class="nowrap" href="https://www.facebook.com/groups/uxwritingthailand" target="_blank">UX Writing Community (TH) <i class="fa fa-external-link"></i></a>
          </span>
          <br>
          <span class="name">@ploy</span>
          <span class="name">@jira</span>
          <span class="name">@nan</span>
          <span class="name">@fai</span>
          <span class="name">@dr.preawphan</span>
          <span class="name">@ploynarin</span>
          <br>
          <span class="name">Gurus</span>
          <span class="company">
            <a class="nowrap" href="https://medium.com/odds-team" target="_blank">from ODDS <i class="fa fa-external-link"></i></a>
          </span>
        </div>

        <div class="community">
          <h3>{% t opensource.community %}</h3>

          <p>
            <i class="fa fa-github"></i> 
            GitHub User: 
            <a href="https://github.com/vitalsignapp/vitalsigns-patient">
              vitalsigns-patient 
              <i class="fa fa-external-link"></i>
            </a>
          </p>

          <p>
            <i class="fa fa-github"></i> 
            GitHub Admin: 
            <a href="https://github.com/vitalsignapp/vitalsigns-admin">
              vitalsigns-admin
              <i class="fa fa-external-link"></i>
            </a>
          </p>

          <p>
            <i class="fa fa-github"></i> 
            GitHub API: 
            <a href="https://github.com/vitalsignapp/vitalsigns-api">
              vitalsigns-api
              <i class="fa fa-external-link"></i>
            </a>
          </p>

          <p>
            <i class="fa fa-facebook-square"></i> 
            Facebook: 
            <a href="https://www.facebook.com/vitalsignapp/">
              facebook.com/vitalsignapp/
              <i class="fa fa-external-link"></i>
            </a>
          </p>

          <h3>{% t opensource.instructions %}</h3>
          <p><a href="tutorial-patient.html" target="_blank"><i class="fa fa-book"></i> {% t opensource.manual-patient %}</a></p>
          <p><a href="tutorial-hospital.html" target="_blank"><i class="fa fa-book"></i> {% t opensource.manual-hospital %}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>